  @keyframes hide {
      0% {
          opacity: 1;
          line-height: 100%;
          margin-bottom: 5px;
      }
      75% {
          opacity: 0;
          line-height: 100%;
          margin-bottom: 5px;
      }
      100% {
          opacity: 0;
          height: 0px;
          line-height: 0px;
          padding: 0px;
          margin-bottom: 0px;
      }
  }

.task_ro {
          animation-name: hide;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          animation-play-state: paused;
      }

