{% extends "tasks/base.html" %} {% block title %} Simple Planner {% endblock %} {% block body %}
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Simple Planner</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <strong> {{user}} </strong> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'home' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <h5>
                            <i class="fa fa-folder-open fa-fw"></i>
                            <strong>Active Projects</strong>
                        </h5>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="#"><i class="fa fa-user"></i>Personal<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% for proj in projectDict.Active_Personal %}
                            <li>
                                <a data-projectid="{{ proj.id }}" href="{% url 'project'  proj.id  %}">{{proj.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-group fa-fw"></i> Team<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% for proj in projectDict.Active_Team %}
                            <li>
                                <a data-projectid="{{ proj.id }}" href="{% url 'project' proj.id  %}">{{proj.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li class="divider"></li>
                    <li>
                        <h5>
                            <i class="fa  fa-archive fa-fw"></i>
                            <strong>Archive Projects</strong>
                        </h5>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="#"><i class="fa fa-user"></i>Personal<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% for proj in projectDict.Archive_Personal %}
                            <li>
                                <a data-projectid="{{ proj.id }}" href="{% url 'project' proj.id  %}">{{proj.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-group fa-fw"></i> Team<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% for proj in projectDict.Archive_Personal %}
                            <li>
                                <a data-projectid="{{ proj.id }}" href="{% url 'project'  proj.id  %}">{{proj.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="{% url 'createproject' %}"><strong><i class="fa fa-plus-circle fa-fw"></i> Create Project </strong></a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Project Creation Form</h3>
                <div id="pg_msg_area">
                {% if p_Success == 'F' %}
                <div id="msg_fail" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endif %}
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form action="{% url 'createproject' %}" method="post">
                    {% csrf_token %}
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Project Creation:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="ptitle">Project Title</label>
                                    <input type="text" class="form-control" id="ptitle" name='ptitle' required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="ptype">Project Type</label>
                                    <select name="ptype" id="ptype" class="form-control">
                                        <option value="P" selected>Personal</option>
                                        <option value="T">Team</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                        <div class="alert alert-info" role="alert">
                          <strong>Note:</strong> Option for selecting <mark>'Team Members'</mark> are available on the Project Site
                        </div>
                        <input type="submit" class="btn btn-primary" value="Create"/>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}